h1 {
  color: var(--main-color);
  width: max-content;
  font-style: italic;
  padding: 10px 0;
  border-bottom: 3px groove var(--third-color);
}

/* .taCreation .container {
  display: grid;
  place-items: center;
}
 */

.taCreation {
}

.taCreation .container {
  min-height: calc(100vh - 65px);
  display: grid;
  place-content: center;
}

.taCreation .container form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  background-color: white;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  border-radius: 1.25rem;
  border: 1px solid;
  box-shadow: 7px 7px 0px 3px var(--secondary-color);
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}

.taCreation .container form .img {
  background-color: var(--third-color);
  border-radius: 1.25rem 0 0 1.25rem;
  -webkit-border-radius: 1.25rem 0 0 1.25rem;
  -moz-border-radius: 1.25rem 0 0 1.25rem;
  -ms-border-radius: 1.25rem 0 0 1.25rem;
  -o-border-radius: 1.25rem 0 0 1.25rem;
  background: linear-gradient(
    -45deg,
    var(--main-color),
    var(--secondary-color),
    var(--third-color),
    var(--fourth-color)
  );
  background-size: 400% 400%;
  display: grid;
  place-content: center;
}

.taCreation .container form .img img {
  width: 100%;
}

.taCreation .container form input::placeholder{
  text-transform: capitalize;
}

.taCreation .container form .box {
  display: grid;
  gap: 20px;
  padding: 60px;
}

@media (max-width: 767px) {
  .taCreation .container form .img {
    display: none;
  }
}
.taCreation .container form .box input {
  border: 0;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
}

.taCreation .container form .box input:focus {
  outline: 0;
}

.taCreation .container form #gender {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
  background-color: white;
  color: gray;
}

.taCreation .container form .box #submit-button {
  background-color: var(--third-color);
  color: white;
  border: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}
