.gpaCalc {
}
.gpaCalc .container {
}

.gpaCalc .container form {
}

.gpaCalc .container form .subject-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  margin: 20px 0;
}

.gpaCalc .container form .subject-buttons .sem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  transition: var(--main-transition-duration);
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  border-radius: 1.25rem;
  border: 1px solid;
  box-shadow: 7px 7px 0px 3px var(--secondary-color);
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  cursor: pointer;
  padding: 30px 20px;
}

.gpaCalc .container form .subject-buttons .sem:hover {
  box-shadow: 13px 13px 0px 3px var(--main-color);
}

.gpaCalc .container form .subject-buttons .sem h4 {
  margin: 0;
  padding: 0;
}

.gpaCalc .container form .subject-buttons .sem .selectAllWrap,
.gpaCalc .container form .subject-buttons .sem .choiceWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.gpaCalc .container form .subject-buttons .sem input {
}
.gpaCalc .container form .subject-buttons .sem label {
}
.gpaCalc .container form .subject-buttons .sem select {
}
