table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  padding: 1vh 1vw;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  display: none;
}
.table.show {
  opacity: 1;
  display: flex;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
.container {
}
.heading {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 1vh 1vw;
  font-size: 1em;
  font-weight: bold;
  margin-left: 35vw;
  margin-right: 35vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 10px;
  width: 35vw;
  height: 10vh;
  border: 1px solid;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  transition: var(--main-transition-duration);
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  box-shadow: 7px 7px 0px 3px var(--secondary-color);
}
#tableSelect {
  width: 15vw;
  height: 6vh;
  border: none;
  margin: 1vh auto;
  padding: 1vh 1vw;
  border-radius: 15px;
  background-color: #f2f2f2;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
  font-size: 16px;
}

#tableSelect:hover {
  background-color: #e6e6e6;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}
.outer {
  padding: 3vh 5vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .outer {
    padding: 2vh 2vw;
  }
  .container {
    overflow-x: scroll;
  }
}
