/* start welcome section */
.location .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location .container .txt h2 {
  position: relative;
  color: var(--third-color);
  padding: 30px 0;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 0px;
  margin-bottom: 20px;
}

.location .container .txt h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: var(--fourth-color);
}

.location .container .txt h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: var(--fourth-color);
}

.location .container .txt h2 span {
  color: #e06c75;
}

.location .container .txt .description {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 20px;
}

.location .container .txt .description img {
  width: 20%;
}

@media (max-width: 767px) {
  .location .container .txt .description {
    flex-wrap: wrap;
    justify-content: center;
  }
  .location .container .txt .description img {
    width: 50%;
  }
}

.location .container .txt .description p {
  color: #585f63;
  font-size: 1.1em;
  line-height: 1.8em;
  text-transform: capitalize;
  font-weight: 500;
}

/* end welcome section */

/* start table */
.location .container .tableSelect {
  border: 0;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
  background-color: white;
  color: gray;
  margin-bottom: 50px;
}

.location .container .tableSelect:focus {
  outline: none;
}

.location .table-wrapper {
  overflow: auto;
  margin-bottom: 150px;
}

.location .table-wrapper table tbody {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.location .table-wrapper table tbody td {
  padding: 20px;
  box-shadow:
    rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.location .table-wrapper table tbody td strong {
  color: var(--third-color);
}

@media (min-width: 1199px) {
  .location .table-wrapper {
    display: grid;
    place-content: center;
  }
}
/* end table */
