.welcome {
  margin: 100px 0;
}

.welcome .container {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
}

.welcome .container .text h1 {
  color: var(--secondary-color);
  font-size: 2rem;
}

.welcome .container .img {
  margin-left: auto;
}

.welcome .container .img img {
  width: 32rem;
}

.welcome .container .sout {
  font-size: 0.7rem;
}

.welcome .container .sout h1,
.welcome .container .sout .greeting,
.welcome .container .sout .closure {
  display: inline-block;
}

.welcome .container .sout h1 {
  /* color: #e4bb68; */
  padding: 0;
  margin: 0;
  color: var(--third-color);
}

.welcome .container .sout h1 .dot {
  color: var(--third-color);
}

.welcome .container .sout h1 .out {
  color: #e06c75;
}

.welcome .container .sout h1 .print {
  color: #61afef;
}

.welcome .container .sout .greeting h1 {
  color: var(--third-color);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 1199px) {
  .welcome .container .img img {
    width: 20rem;
  }
}

@media (max-width: 767px) {
  .welcome {
    margin: 0;
  }

.welcome .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

  .welcome .container .img img {
    display: none;
  }

  .welcome .container .text h1 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin: 0;
    padding: 10px 0;
  }

  .welcome .container .sout h1 {
    font-size: 1rem;
  }
}