.JTA-wrap .container {
  min-height: calc(100vh - 65px);
  display: grid;
  place-content: center;
}
.JTA-wrap .container form .form-group {
  display: grid;
  gap: 10px;
}
.JTA-wrap .container form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  background-color: white;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  border-radius: 1.25rem;
  border: 1px solid;
  box-shadow: 7px 7px 0px 3px var(--secondary-color);
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
}

.JTA-wrap .container form #semester,
.JTA-wrap .container form #dayDropdown {
  border: 0;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;

  background-color: white;
  color: gray;
}
.JTA-wrap .container form .box #submit-button {
  background-color: var(--third-color);
  color: white;
  border: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}
.JTA-wrap .container form .box label {
  margin: 5px 0 15px 0;
}
.JTA-wrap .container form .box #course {
  margin: 20px 0;
  color: gray;
}
.JTA-wrap .container form .box #slot .card {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 50px;
  width: max-content;
  padding: 10px;
  cursor: pointer;
  color: #576cbc;
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin: 6px 0;
  display: inline-block;
  margin-left: 10px;
}
.JTA-wrap .container form .box #course .card {
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 50px;
  width: max-content;
  padding: 10px;
  cursor: pointer;
  color: #576cbc;
  font-size: clamp(0.5rem, 5vw, 1rem);
  margin: 6px 0;
  display: inline-block;
  margin-left: 10px;
}

.JTA-wrap .container form .box #course .card:hover {
  background-color: #f0f0f0;
}
.JTA-wrap .container form .img {
  border-radius: 1.25rem 0 0 1.25rem;
  -webkit-border-radius: 1.25rem 0 0 1.25rem;
  -moz-border-radius: 1.25rem 0 0 1.25rem;
  -ms-border-radius: 1.25rem 0 0 1.25rem;
  -o-border-radius: 1.25rem 0 0 1.25rem;
  background: linear-gradient(
    -45deg,
    var(--main-color),
    var(--secondary-color),
    var(--third-color),
    var(--fourth-color)
  );
  background-size: 400% 400%;
  display: grid;
  place-content: center;
}

@media (max-width: 767px) {
  .JTA-wrap .container form .img {
    display: none;
  }
}
.JTA-wrap .container form .box input {
  border: 0;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  padding: 10px;
}

.JTA-wrap .container form .img img {
  width: 100%;
}
.JTA-wrap .container form input::placeholder {
  text-transform: capitalize;
}
.JTA-wrap .container form .box {
  display: grid;
  gap: 20px;
  padding: 60px;
}

@media screen and (max-width: 767px) {
  .JTA-wrap .container form .box {
    padding: 20px;
  }
}
.JTA-wrap .container form .box input:focus {
  outline: 0;
}
