body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
.caption {
  max-width: 100%;
  z-index: 99;
  margin: auto;
  position: relative;
  width: 100%;
  top: 18rem;
  bottom: 1rem;
  padding: 1rem 2rem 2rem 2rem;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.inner-cont {
  /* margin-bottom: 2rem; */
  display: contents;
  border-radius: 30px;
}

.slides {
  max-width: 100%;
  height: auto;
  /* height: 100%; */
  z-index: -99;
  width: 100%;

  object-fit: cover;
}


@media only screen and (max-width: 767px) {
  .slides {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .carousel-item {
    height: 90vh;
  }
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.img-carousel {
  margin: 0 7rem;
}

.inner-cont ul::after{

  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  z-index: 1;
  border-radius: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

}
.carousel {
  height: calc(75vh - 65px);
  position: relative;
  margin: 2rem 0;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 200ms opacity ease-in-out 200ms;
  -moz-transition: 200ms opacity ease-in-out 200ms;
  -ms-transition: 200ms opacity ease-in-out 200ms;
  -o-transition: 200ms opacity ease-in-out 200ms;
  transition: 200ms opacity ease-in-out 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;

  background-size: cover;

  background-attachment: fixed;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  background: none;
  border: 0;
  font-size: 4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(red, green, blue, 0.5);
  padding: 0 0.5rem;
  background-color: rgba(red, green, blue, 0.1);
  z-index: 2;
  color: white;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
  margin: 50px 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  border-radius: 1.25rem;
  padding: 0rem 1rem;
  padding-bottom: 2rem;
  margin: 1rem 1rem;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  border: 1px solid;
  box-shadow: 7px 7px 0px 3px var(--secondary-color);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}

.card:hover {
  box-shadow: 13px 13px 0px 3px var(--main-color);
}
.card-title {
  font-weight: bold;
  font-size: clamp(0.1rem, 1rem + 1vw, 1.5rem);
  margin-top: 2rem;
  color: var(--third-color);
}

.card-subtitle {
  font-size: medium;
  font-weight: bold;
}
.card-text {
  font-size: large;
  margin-top: 0.5rem;
}
.search {
  position: relative;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-section {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.search:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}
.search input[type="text"] {
  border: 0;
  padding: 10px;
  background-color: transparent;
  padding: 15px;
  width: 100%;
}

.search button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flow;
  position: inherit;
  color: var(--main-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.search button:hover {
  background-color: #e6e6e6;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

.search button i {
  font-size: 20px;
}

img {
  width: 100%;
  height: -webkit-fill-available;
  object-fit: cover;
}

.container {
  padding: 2px 16px;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
.search-text {
  position: absolute;
  right: -10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--fourth-color);
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 18px;
}
.search input:focus {
  outline: none;
}
.search span {
  color: var(--secondary-color);
}
.contain {
  margin: 2rem 1rem;
}
.search .search-text {
  position: absolute;
  right: -10px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--fourth-color);
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 18px;
}
.contain .search .search-text p {
  padding: 0;
  margin: 0;
}
.contain .search input {
  border: 0;

  background-color: transparent;
  padding: 15px;
  width: 100%;
}
p {
  font-size: clamp(0.1rem, 1rem + 1vw, 1.3rem);
}
h6 {
  font-size: clamp(0.1rem, 1rem + 1vw, 1rem);
  margin: 0;
}
h3 {
  font-size: clamp(0.1rem, 1rem + 1vw, 3rem);
  margin: 0;
}
@media only screen and (max-width: 900px) {
  .img-carousel {
    margin: 0 2rem;
    height: calc(75vh - 65px);
  }
  .card {
    max-width: 25rem;
    min-width: 20rem;
    max-height: 35rem;
    min-height: 33rem;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    margin: 1rem 1rem;
  }
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 2rem;
    gap: 15px;
  }
  .caption {
    top: 13rem;
    min-height: 13vh;
    position: absolute;
    width: -webkit-fill-available;
    margin: 1.2rem 1rem 1.1rem 1rem;
  }
  p {
    font-size: clamp(0.1rem, 1rem + 1vw, 1rem);
  }
  h6 {
    font-size: clamp(0.1rem, 1rem + 1vw, 1rem);
    margin: 0;
  }
  h3 {
    font-size: clamp(0.1rem, 1rem + 1vw, 1rem);
    margin: 0;
  }

  .carousel {
    /* margin: 2rem 0; */
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 667px) {
  .img-carousel {
    margin: 0 2rem;
    height: calc(75vh - 65px);
  }
  .caption {
    top: 2rem;
    min-height: 13vh;
    position: absolute;
    width: -webkit-fill-available;
    margin: 1.2rem 1rem 1.1rem 1rem;
  }
}
