/* style.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.carousel-indicators {
  pointer-events: none;
}




.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: 200ms opacity ease-in-out;
}

.carousel-item {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 65px);
}

.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.caption {
  max-width: 100%;
  z-index: 1;
  height: auto;
  width: 100%;
  position: absolute;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  bottom: 50px;
}
p {
  text-align: center;
  margin-top: 10px;
  font-size: clamp(0.1rem, 1rem + 1vw, 1.5rem);
}

.slides {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .slides {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .carousel-item {
    
    height: 90vh;
  }
}

/* .carousel-caption h5 {

  color: #ffffff;
  margin-bottom: 20px;
  font-size: clamp(1.2rem, 1.0774rem + 3.7936vw, 1rem);
} */


