body {
  height: 5000px;
}

.button-wrap {
  position: fixed;
  bottom: 35px;
  right: 35px;
}

.button-wrap .submit {
  display: none;
}

.button-wrap .text-edit, .button-wrap .submit {
  background-color: var(--main-color);
  color: var(--third-color);
  border: 0;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
  transition: var(--main-transition-duration);
}

.button-wrap .text-edit:hover,
.button-wrap .submit:hover {
  background-color: var(--secondary-color);
}

.button-wrap .submit.show {
  display: inline-block;
}

.text-box {
  display: none;
  width: 80vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.text-box.show {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  backdrop-filter: blur(6px);
  /* Apply a blur effect to the background */
  z-index: 999;
  /* Ensure the overlay is on top of other elements */
}