/* body {
  background: url("../images/background.png") repeat;
  animation: bg-scrolling-reverse 0.92s infinite;
  animation-timing-function: linear;
} */

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, var(--secondary-color), var(--third-color));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  position: relative;
}

.courses-selection {
  text-transform: capitalize;
}

.courses-selection .container {
  margin-top: 50px;
}

.courses-selection .container form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.courses-selection .container form label {
  font-size: 30px;
  font-weight: bold;
  color: var(--content-color);
}

.courses-selection .container form select {
  padding: 10px 20px;
  border: 0;
  background-color: var(--main-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: white;
}

.courses-selection .container form select:focus {
  outline: 0;
}

/* start course card */
.courses-selection .container .courses-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: 40px;
  margin: 50px;
  position: relative;
}

.courses-selection .container .courses-wrap .course-card {
  height: 200px;
  background: url(../images/course1.jpg) no-repeat;
  background-position: 0 -150px;
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: relative;
  transition: var(--main-transition-duration);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
}

.courses-selection .container .courses-wrap .course-card:nth-child(even) {
  background: url(../images/course2.jpg);
  background-size: cover;
}

.courses-selection .container .courses-wrap .course-card:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

.courses-selection .container .courses-wrap .course-card p {
  width: max-content;
  margin: 0;
  padding: 15px 20px;
  color: white;
  font-size: 20px;
  background-color: var(--main-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* end course card */
/*start Animations */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}