/* Start Variables */
:root {
  --main-color: #04364A;
  --secondary-color: #176B87;
  --third-color: #64CCC5;
  --section-background: #ebeced;
  --main-transition-duration: all 0.3s ease-in-out;
  --content-color: #fafafa;
  --text-color: #171717;
}

/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-color);
}


body {
  background-color: var(--content-color);
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* start media query */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 550px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* start header */
.header {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  position: fixed;
  top: 0;
  width: 100%;
  position: relative;
  background-color: var(--content-color);

}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .logo {
  cursor: pointer;
}

.header .logo img {
  width: 2.5rem;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav .links {
  display: flex;
  gap: 8rem;
  margin-right: 10rem;
}

.header .nav .links li {
  position: relative;
}

@media (min-width: 1200px) {
  .header .nav .links li::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    background-color: var(--secondary-color);
    height: 3px;
    width: 0;
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
    transition: var(--main-transition-duration);
  }
}

.header .nav .links li:hover::before {
  width: 100%;
}

.header .nav .links li a {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--text-color);
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
  transition: var(--main-transition-duration);
  padding: 15px;
  font-size: 15px;
}


.header .nav .links li {
  cursor: pointer;
}

.header .nav .links .login {
  display: none;
}

.header .nav .user-darkMode {

  cursor: pointer;
  display: flex;
  gap: 10px;
}

.header .nav .user-darkMode .user {
  color: var(--text-color);
  border-left: 2px solid var(--secondary-color);
  padding-left: 10px;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
  transition: var(--main-transition-duration);
  display: flex;
  align-items: center;
}

.header .nav .user-darkMode .user:hover {
  color: var(--secondary-color);
}

.header .container .burger-menu {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  display: none;
}

.header .container .burger-menu span {
  display: block;
  width: 2rem;
  height: 3px;
  -webkit-transition: var(--main-transition-duration);
  -moz-transition: var(--main-transition-duration);
  -ms-transition: var(--main-transition-duration);
  -o-transition: var(--main-transition-duration);
  transition: var(--main-transition-duration);
  background: var(--main-color);
}

.header .container .burger-menu .mid {
  width: 80%;
}

.header .container .burger-menu.active .top {
  -webkit-transform: rotate(45deg) translateY(8px);
  -moz-transform: rotate(45deg) translateY(8px);
  -ms-transform: rotate(45deg) translateY(8px);
  -o-transform: rotate(45deg) translateY(8px);
  transform: rotate(45deg) translateY(8px);
}

.header .container .burger-menu.active .mid {
  display: none;
}

.header .container .burger-menu.active .btm {
  -webkit-transform: rotate(-45deg) translate(-3px, -6px);
  -moz-transform: rotate(-45deg) translate(-3px, -6px);
  -ms-transform: rotate(-45deg) translate(-3px, -6px);
  -o-transform: rotate(-45deg) translate(-3px, -6px);
  transform: rotate(-45deg) translate(-3px, -6px);
}

@media (max-width: 1199px) {
  .header .logo img {
    width: 3rem;
  }

  .header .nav {
    flex-direction: column;
    position: absolute;
    inset: 4.5rem 5rem auto auto;
    background: var(--main-color);
    height: 0;
    width: 30%;
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
    transition: var(--main-transition-duration);
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }

  .header .nav.active {
    height: 300px;
  }

  .header .nav .links {
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0px;
    width: 100%;
  }

  .header .nav .links li {
    padding: 20px;
    text-align: center;
  }

  .header .nav .links li:not(:last-child) {
    border-bottom: 1px solid var(--third-color);
  }

  .header .nav .links li i {
    color: #fafafa;
  }

  .header .nav .links li a {
    color: #fafafa;
    font-weight: 200;
  }

  .header .nav .links .login {
    display: block;
  }

  .header .nav .user-darkMode {
    display: none;
  }

  .header .container .burger-menu {
    display: flex;
  }
}

@media (max-width: 767px) {
  .header .nav {
    inset: 4.5rem 0rem auto auto;
    width: 0%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    height: 100vh;
  }

  .header .nav.active {
    width: 100%;
    height: 100vh;
    z-index: 1000;
  }
}

/* end header */