.taDirectory {
  margin: 40px 0;
}

.taDirectory .container {

}

.taDirectory .container .card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin: 50px 0;
}

.taDirectory .container .card {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
}

.taDirectory .container .card:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

.taDirectory .container .card .head {
  text-transform: capitalize;
}

.taDirectory .container .card .head h4 {
  margin: 10px 0;
  font-style: italic;
}

.taDirectory .container .card .head .course {
  font-size: 0.7em;
  background-color: rgb(164, 189, 183, 0.5);
  width: max-content;
  padding: 3px;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto 10px;
  font-size: 15px;
}

.taDirectory .container .card .box {
  background-color: var(--secondary-color);
  margin: 10px 0;
  border-radius: 6px;
}

.taDirectory .container .card .wrap {
  padding: 10px 0;
  color: white;
}

.taDirectory .container .card .wrap:not(:last-child) {
  border-bottom: 1px solid #fff;
}

.taDirectory .container .card .wrap p {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  text-transform: capitalize;
  margin: 10px;
}

.taDirectory .container .card .wrap span {
  color: rgba(255, 255, 255, 0.751);
  font-style: italic;
  margin: 10px;
}

.taDirectory .container .addTaBtn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px 12px;
  background-color: var(--third-color);
  border: 0;
  color: white;
  position: fixed;
  bottom: 60px;
  right: 60px;
}