.taDirectory {
  margin: 40px 0;
}

.taDirectory .container .card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 40px;
  margin: 50px 0;
}

.taDirectory .container .search-bar {
  margin-left: auto;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* .taDirectory .container .search-bar label {
  text-transform: capitalize;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 2rem;
} */

.taDirectory .container .search-bar {
  position: relative;
  width: 100%;
}

.taDirectory .container .search-bar input {
  border: 0;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  width: 60%;
}

@media (max-width: 767px) {
  /* .taDirectory .container .search-bar label {
    display: none;
  } */
  .taDirectory .container .search-bar input {
    width: 100%;
  }
}

.taDirectory .container .search-bar input:focus {
  outline: none;
}

/* .taDirectory .container .search-bar::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  color: var(--secondary-color);
  position: absolute;
  right: 0;
} */

.taDirectory .container .search-bar span {
  color: var(--secondary-color);
}

/* .taDirectory .container .card {
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 20px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1px;
} */

.taDirectory .container .card {
  background-color: var(--White);
  padding: 0 1rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  border-radius: 1.25rem;
  border: 1px solid;
  box-shadow: 7px 7px 0px 3px var(--secondary-color);
  transition: 0.15s;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
  cursor: pointer;
}

/* .taDirectory .container .card:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
} */

.taDirectory .container .card:hover {
  box-shadow: 13px 13px 0px 3px var(--main-color);
}

.hide {
  display: none;
}

.taDirectory .container .card .course {
  background-color: var(--secondary-color);
  font-weight: 800;
  padding: 8px 15px;
  display: block;
  width: max-content;
  margin: 20px 0;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  border-radius: 0.25rem;
  color: white;
}

.taDirectory .container .card .box {
  color: black;
  margin: 10px 0;
  border-radius: 6px;
}

.taDirectory .container .card .wrap a {
  color: black;
}

.taDirectory .container .card .wrap p {
  font-weight: bold;
  font-size: 16px;
  text-transform: capitalize;
}

.taDirectory .container .card .wrap .answer {
  margin: 0;
  padding: 0;
}

.taDirectory .container .addTaBtn {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 10px 12px;
  background-color: var(--third-color);
  border: 0;
  position: fixed;
  bottom: 60px;
  right: 60px;
}

@media (max-width: 767px) {
  .taDirectory .container .addTaBtn {
    bottom: 80px;
    right: 20px;
  }
}
